{% extends "layouts/base.html" %}

{% block title %} Review Pre-start {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/dash">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="/prestarts">pre-start</a></li>
            <li class="breadcrumb-item active" aria-current="page">review</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Review Pre-start</h1>
            <p class="mb-0">A recorded Pre-start checklist.</p>
        </div>
        <div>
            <a href={{ url_for('home_blueprint.view_prestarts') }} class="btn btn-outline-gray-600 d-inline-flex align-items-center">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                All Pre-starts
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body">
                <h2 class="h5 mb-4">{{ prestart }}</h2>

                <div class="row mb-4 mb-lg-5">
                    <div class="col-md-6">
                        <p>Recorded by {{ prestart.author.username }}</p>
                        <p>Weather: {{ prestart.weather_conditions }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Number of workers: {{ prestart.number_of_workers }}</p>
                        <p>Job activity: {{ prestart.job_activity }}</p>
                    </div>
                </div>

                
                {% for item in prestart.checklist %}
                <div class="row py-3 align-items-center">
                    <div class="col-12 col-md-6 list-group-item">
                        {{ item }}
                    </div>
                    <div class="col-md-6 list-group-item">
                        {{ prestart.checklist[item] }}
                    </div>
                </div>
                {% endfor %}
                <p>Comments: {{ prestart.comments }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
