{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">SafetyBase - Profile</h1>
            <p class="mb-0">Health and Safety Representative toolbox for keeping records.</p>
        </div>
        <div>
            <a href={{ url_for('authentication_blueprint.logout') }} class="btn btn-outline-gray-600 d-inline-flex align-items-center">
                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                Logout
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">General information</h2>
            <form action={{ url_for('authentication_blueprint.edit_user') }} method="post" >
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">First Name</label>
                            <input class="form-control" id="first_name" type="text" name="first_name" required 
                                   value="{% if current_user.first_name %}{{ current_user.first_name }}{% else %}{{ current_user.username }}{% endif %}" 
                                   placeholder="{% if current_user.first_name %}{{ current_user.first_name }}{% else %}{{ current_user.username }}{% endif %}" >
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Last Name</label>
                            <input class="form-control" id="last_name" type="text" name="last_name" required 
                                   value="{% if current_user.last_name %}{{ current_user.last_name }}{% else %}{% endif %}" 
                                   placeholder="{% if current_user.last_name %}{{ current_user.last_name }}{% else %}Also your last name {% endif %}" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder={{ current_user.email }} readonly >
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" type="number" name="mobile" required 
                                   value="{% if current_user.mobile %}0{{ current_user.mobile }}{% endif %}"
                                   placeholder="{% if current_user.mobile %}0{{ current_user.mobile }}{% else %}0123 456 789{% endif %}" >
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Update details</button>
                </div>
            </form>
        </div>
        <div class="card card-body border-0 shadow mb-4 mb-xl-0">
            <h2 class="h5 mb-4">Preferences</h2>
            <form>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Delete old tasks</h3>
                            <p class="small pe-4">Automatically delete completed tasks, more than thirty days old.</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="user-notification-1"></label>
                                {% if current_user.preferences.trim_tasks %}
                                <input class="form-check-input" type="checkbox" id="user-notification-1" checked>
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="user-notification-1">
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Number of Pre-Starts</h3>
                            <p class="small pe-4">Choose the number of completed pre-starts to display on a page.</p>
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="prestarts-showing"></label>
                                <input class="form-control" id="prestarts-showing" type="number" value={{ current_user.preferences.prestart_pages }}
                                       placeholder={{ current_user.preferences.prestart_pages }}>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" disabled>Save preferences</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                    <div class="card-body pb-5">
                        <img src={{ current_user.avatar() }} class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                        <h4 class="h3">
                            {{ current_user.username }}
                        </h4>
                        <h5 class="fw-normal">
                            {% if current_user.first_name %}{{ current_user.first_name }}{% endif %}
                            {% if current_user.last_name %}{{ current_user.last_name }}{% endif %}
                        </h5>
                        <p class="text-gray mb-4">
                            {{ current_user.email }}
                        </p>
                        <p class="text-gray mb-4">
                            {% if current_user.mobile %}0{{ current_user.mobile }}{% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-body border-0 shadow mb-4">
                    <a data-bs-toggle="modal" data-bs-target="#modal-achievement">
                        <h2 class="h5 mb-4">Select profile photo</h2>
                    </a>
                    <!-- Modal Content -->
                    <div class="modal fade" id="modal-achievement" tabindex="-1" role="dialog" aria-labelledby="modal-achievement" aria-hidden="true">
                        <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <button type="button" class="btn-close theme-settings-close fs-6 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                <div class="modal-header mx-auto">
                                    <p class="lead mb-0 text-white">This feature is not yet available.</p>
                                </div>
                                <div class="modal-body pt-0">
                                    <div class="py-3 px-5 text-center">
                                        <span class="modal-icon display-1 text-white">
                                            <svg class="icon icon-lg text-gray-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
                                        </span>
                                        <h2 class="h3 modal-title mb-3 text-white">Personalised profile pictures.</h2>
                                        <p class="mb-4 text-white">Currently your profile avatar is a unique identicon generated from your email address.</p>
                                        <div class="progress mb-0">
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center pt-0 pb-3">
                                    <button type="button" class="btn btn-sm btn-white text-tertiary" data-bs-dismiss="modal">Awesome!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Content -->
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <!-- Avatar -->
                            <img class="rounded avatar-xl" src={{ current_user.avatar(400) }} alt="change avatar">
                        </div>
                        <div class="file-field">
                            <div class="d-flex justify-content-xl-center ms-xl-3">
                                <div class="d-flex">
                                    <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                    <!-- <input type="file"> -->
                                    <div class="d-md-block text-left">
                                        <div class="fw-normal text-dark mb-1">Choose Image</div>
                                        <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
